---
import type { Section } from "./projects-page.astro";

type Props = {
  section: Section;
};

const { section } = Astro.props;
---

<hr class="my-4 border-secondary/20" />

<div class="mb-4">
  <h2 class="mb-2 text-2xl font-semibold text-primary">
    {section.sectionName}
  </h2>
  <p class="mb-4 text-lg text-secondary">
    {section.sectionSubtitle}
  </p>
  <ul class="mb-4 space-y-3 text-lg text-secondary">
    {
      section.projects.map((project) => (
        <li>
          <a
            href={project.link}
            target="_blank"
            rel="noreferrer"
            class="text-accent"
          >
            {project.name}
          </a>
          <p class="mb-4 text-lg text-secondary">{project.description}</p>
        </li>
      ))
    }
  </ul>
</div>
