---
import { z } from "zod";

import Button from "./button.astro";
import homePageData from "./home-page-data.json";
import ListItem from "./list-item.astro";

const homePageDataSchema = z.object({
  personalInfo: z.object({
    email: z.string(),
    gitHubLink: z.string(),
  }),
  jobInfo: z.object({
    jobTitle: z.string(),
    companyName: z.string(),
    companyLink: z.string(),
  }),
});

const validatedHomePageData = homePageDataSchema.parse(homePageData);

const { personalInfo, jobInfo } = validatedHomePageData;
---

<main class="flex min-h-screen min-w-screen items-center justify-center">
  <section class="mx-auto max-w-[700px] p-4">
    <header class="mb-2">
      <h1 class="mb-4 text-4xl font-semibold">Hi, I'm Rudra.</h1>
      <p class="text-xl text-secondary">I am a full-stack software engineer</p>
    </header>

    <ul class="mb-4 space-y-3 text-lg text-secondary">
      <ListItem
        href="/projects"
        text="check out my"
        highlightedText="projects"
      />
      <ListItem
        href="/resume.pdf"
        text="view my"
        highlightedText="resume"
        attributes={{
          target: "_blank",
          rel: "noreferrer",
        }}
      />
    </ul>

    <p class="mb-6 text-lg text-secondary">
      I'm currently an {jobInfo.jobTitle}
      <a
        class="font-medium text-accent"
        href={jobInfo.companyLink}
        target="_blank"
        rel="noreferrer"
      >
        @ {jobInfo.companyName}
      </a>
    </p>

    <footer class="flex flex-wrap gap-4 text-base">
      <Button
        href={personalInfo.gitHubLink}
        text="My GitHub"
        variant="primary"
        attributes={{
          target: "_blank",
          rel: "noreferrer",
        }}
      />
      <Button
        href={`mailto:${personalInfo.email}`}
        text="Contact Me"
        variant="secondary"
        attributes={{
          target: "_blank",
          rel: "noreferrer",
        }}
      />
    </footer>
  </section>
</main>
